* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CLASSI DI UTILITY + CONTAINER */

.container-100 {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.riga {
    display: flex;
    flex-wrap: wrap;
}

/* FINE CLASSI DI UTILITY */

/* CLASSI COL- */

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-100 {
    width: 100%;
}

/* FINE CLASSI COL- */

/* HEADER LAYAOUT */

.cont-header {
    height: 50px;
    background-color: blue;
    border: 1px solid black;
}


/* FINE HEADER LAYAOUT */

/* MAIN LAYAOUT */

.azzurro { 
    background-color: rgb(133, 207, 207);
}

.contenuto {
    background-color: blueviolet;
    border: 1px solid black;
    margin: 15px;
}

/* PRIMO BLOCCO */



/* FINE MAIN LAYAOUT */

/* CANCELLARE PROSSIMAMENTE ALTEZZE FISSE PER BLOCCHI COLORATI */

.h-40 {
    height: 40px;
}

.h-200 { 
    height: 200px;
}