* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CLASSI DI UTILITY */

.d-flex {
    display: flex;
}

.riga {
    display: flex;
    flex-wrap: wrap;
}

.space-bet {
    justify-content: space-between;
}

/* FINE CLASSI DI UTILITY */

/* HEADER LAYAOUT */

header {
    background-color: blue;
    height: 60px;
}

.cont-header {
    width: 300px;
    height: 60px;
    background-color: blueviolet;
    
}

/* FINE HEADER LAYAOUT */

/* MAIN LAYAOUT */

.max-container {
    height: 600px;
    width: 100%;
    background-color: rgb(140, 226, 226);
}

.contenuto {
    margin: 0 auto;
}

/* PRIMO BLOCCO */

#testo-iniziale {
    width: 800px;
    height: 60px;
    background-color: blueviolet;
}


/* FINE MAIN LAYAOUT */